{% extends 'LiveApp/base.html' %}
{% block title %}
Event’Immediat | Changer mon mot de passe
{% endblock %}
{% block content %}
<div class="back">
  <a href="{% url "LiveApp:profile"%}">
    <span class="material-symbols-outlined">
      arrow_back
    </span>

    Retourner au profil
  </a>
</div>
<form method="post">
  <h2>Changer mon mot de passe</h2>
  {% csrf_token %}
  <p>
    {{ form.old_password.label_tag }}: {{ form.old_password }}
  </p>
  <p>
    {{ form.new_password1.label_tag }}: {{ form.new_password1 }}
  </p>
  <p>
    {{ form.new_password2.label_tag }}: {{ form.new_password2 }}
  </p>
  <button type="submit">Enregistrer les modifications</button>
</form>
{% endblock %}